<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>{{builder.name}}</strong></h3>
        </div>
        <div class="panel-body">
            <p><strong>State:</strong> {{builder.data.state}}</p>
            <p><strong>Recent Builds:</strong></p>
            <table class="table table-striped table-hover">
            <thead><strong>
                <td>Time</td>
                <td>Revision</td>
                <td>Result</td>
                <td>Number</td>
            </strong>
            </thead>
            <tbody>
                <!-- TODO: Load all builds into $scope.builds rather than
                           using builder.data.cachedBuilds -->
                <tr ng-repeat="build in builder.data.cachedBuilds">
                    <td>build.time</td>
                    <td>build.revision</td>
                    <td>build.result</td>
                    <td>{{build}}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
