<div class="visualisation"
     ng-style="selected && {'top': '35%'}">


    <div class="row">

        <div class="lane col-md-2">
            <h3>Change detection</h3>
        </div>

        <div class="lane col-md-2">
            <h3>Integration</h3>
            <div class="box"
                 ng-class="{'pass': step.lastBuild.success, 'active': step.data.state == 'building', 'fail': step.lastBuild.failed}"
                 ng-repeat="step in integrations"
                 ng-click="select(step, $event)">
                {{step.name}}
            </div>
        </div>

        <div class="lane col-md-2">
            <h3>Build</h3>
            <div class="box"
                 ng-class="{'pass': step.lastBuild.success, 'active': step.data.state == 'building', 'fail': step.lastBuild.failed}"
                 ng-repeat="step in builds"
                 ng-click="select(step, $event)">
                {{step.name}}
            </div>
        </div>

        <div class="lane col-md-2">
            <h3>Provisioning</h3>
            <div class="box"
                 ng-class="{'pass': step.lastBuild.success, 'active': step.data.state == 'building', 'fail': step.lastBuild.failed}"
                 ng-repeat="step in deploys"
                 ng-click="select(step, $event)">
                {{step.name}}
            </div>
        </div>

        <div class="lane col-md-2">
            <h3>Automatic test</h3>
            <div class="box"
                 ng-class="{'pass': step.lastBuild.success, 'active': step.data.state == 'building', 'fail': step.lastBuild.failed}"
                 ng-repeat="step in tests"
                 ng-click="select(step, $event)">
                {{step.name}}
            </div>
        </div>

        <div class="lane col-md-2">
            <h3>Publishing</h3>
        </div>

    </div>

    <br />
    <div class="detail"
         ng-show="selected"
         ng-click="$event.stopPropagation()">
        <a class="close" ng-click="select()">&times;</a>
        <h3>{{selected.name}}</h3>
        <div class="detail-contents">
            <p><strong>State:</strong> {{selected.data.state}}</p>
            <p>
                <strong>Last Build:</strong>
                <a ng-href="/#/builders/{{selected.name}}/builds/{{selected.lastBuild.number}}">
                    {{selected.lastBuild.number}} at
                    {{selected.lastBuild.sourceStamps[0].changes[0].at}}
                </a>
            </p>
            <p><strong>Logs for {{selected.lastBuild.number}}:</strong></p>
            <ul>
                <li ng-repeat="step in selected.lastBuild.steps">
                    <a ng-href="{{step.logs[0][1]}}">{{step.name}} {{step.logs[0][0]}}</a>
                </li>
            </ul>
            <p><a ng-href="/#/builders/{{selected.name}}/">Full builder details</a></p>
        </div>
    </div>
</div>
