<div class="visualisation"
     ng-style="selected && {'top': '35%'}">


    <div class="row boxes">

        <div class="lane col-xs-2 ng-hide">
            <a class="lanelink" href="http://wiki.baserock.org/ciat/"><h3>Change detection</h3></a>
        </div>

        <div class="lane col-xs-2">
            <a class="lanelink" href="http://wiki.baserock.org/ciat/"><h3>Integration</h3></a>
            <div class="box"
                 ng-class="{'pass': step.lastBuild.success, 'active': step.data.state == 'building', 'fail': step.lastBuild.failed}"
                 ng-repeat="step in integrations"
                 ng-click="select(step, $event)">
                {{step.name}}
            </div>
        </div>

        <div class="lane col-xs-2">
            <a class="lanelink" href="http://wiki.baserock.org/ciat/"><h3>Build</h3></a>
            <div
                ng-repeat="step in builds">
                <div class="box"
                     ng-class="{'pass': step.lastBuild.success, 'active': step.data.state == 'building', 'fail': step.lastBuild.failed}"
                     ng-click="select(step, $event)">
                    {{step.name}}
                    <div class="progress">
                        <div class="progress-bar {{step.style}}" role="progressbar" aria-valuenow="{{step.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{step.progress}}%">
                            <span class="sr-only">{{step.progress}}% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="lane col-xs-2">
            <a class="lanelink" href="http://wiki.baserock.org/ciat/"><h3>Provisioning</h3></a>
            <div class="box"
                 ng-class="{'pass': step.lastBuild.success, 'active': step.data.state == 'building', 'fail': step.lastBuild.failed}"
                 ng-repeat="step in deploys"
                 ng-click="select(step, $event)">
                {{step.name}}
            </div>
        </div>

        <div class="lane col-xs-2">
            <a class="lanelink" href="http://wiki.baserock.org/ciat/"><h3>Test</h3></a>
            <div class="box"
                 ng-class="{'pass': step.lastBuild.success, 'active': step.data.state == 'building', 'fail': step.lastBuild.failed}"
                 ng-repeat="step in tests"
                 ng-click="select(step, $event)">
                {{step.name}}
            </div>
        </div>

        <div class="lane col-xs-2">
            <a class="lanelink" href="http://wiki.baserock.org/ciat/"><h3>Publishing</h3></a>
            <div class="box"
                 ng-class="{'pass': step.lastBuild.success, 'active': step.data.state == 'building', 'fail': step.lastBuild.failed}"
                 ng-repeat="step in publishings"
                 ng-click="select(step, $event)">
                {{step.name}}
            </div>
        </div>

    </div>

    <br />
    <div class="detail"
         ng-show="selected"
         ng-click="$event.stopPropagation()">
        <a class="close" ng-click="select()">&times;</a>
        <h3>{{selected.name}}</h3>
        <div class="detail-contents">
            <p><strong>State:</strong> {{selected.state}}</p>
            <p>
                <strong>Last Job:</strong>
                <a ng-href="http://ciat.baserock.org:8010/builders/{{selected.name}}/builds/{{selected.lastBuild.number}}">
                    {{selected.lastBuild.sourceStamps[0].changes[0].at}}
                    / Job ID: {{selected.lastBuild.number}}
                </a>
            </p>
            <p><strong>Last Job logs:</strong></p>
            <ul>
                <li ng-repeat="step in selected.lastBuild.steps">
                    <a ng-href="{{step.logs[0][1]}}">Log for step: {{step.name}}</a>
                </li>
            </ul>
            <p><a ng-href="/#/builders/{{selected.name}}/">Full builder details</a></p>
        </div>
    </div>
</div>
